.lgc-bg {
    background-color: rgb(242, 242, 242);
    
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}

.lgc-highlight {
    background-color: rgb(203, 160, 207);
}

.brdrradtop {
    border-radius: 25px 25px 0px 0px;
}

.brdrradbottom {
    border-radius: 0px 0px 25px 25px;
}
