.float-button {
    position: fixed;
    right: -77px;
    top: 270px;
    transition: all 0.2s ease-in 0s; /*this is the key attribute*/
    z-index: 9999;
    cursor: pointer;
    }

    .brdrrad {
        border-radius: 25px 25px 0px 0px;
    }